@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-body: 0 0% 95%;

    --foreground: 265 8% 15%;

    --card: 0 5% 95%;
    --card-foreground: 265 8% 15%;
    --popover: 0 5% 95%;
    --popover-foreground: 265 8% 15%;
    --primary: 279 83.3% 57.8%;
    --primary-foreground: 279 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 279 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 279 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    /* cn: --background: 265 8% 15%; */
    /* ui: --background: 240 6% 10%; */
    --background: 330 6% 10%;
    --background-body: 330 6% 8%;

    --foreground: 279 20% 98%;
    --card: 265 8% 15%;
    --card-foreground: 279 20% 98%;
    --popover: 265 8% 15%;
    --popover-foreground: 279 20% 98%;
    --primary: 279 70% 50.4%;
    --primary-foreground: 279 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 279 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 279 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 279 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 279 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased font-sans;
  }
  .contain {
    @apply mx-auto w-full max-w-2xl lg:max-w-5xl;
  }
  .pad,
  .contain {
    @apply px-6 sm:px-8 md:px-10 lg:px-12;
  }
}
